.main-signin{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  text-align: center;
}

.main-content img{
  height: 80%;
  max-height: 600px;
}

.main-signin .main-content{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
}

.form img{
  width: 179px;
  align-self: center;
  margin-bottom: 30px;
}

.main-signin .main-content .form{
  border: 1px solid #DDD;
  border-radius: 1px;
  background-color: #FFF;
  padding: 20px;
  width: 100%;
  max-width: 350px;
}

.main-signin .main-content .form svg{
  display: flex;
  align-self: center;
  margin: 40px 0;
  color: #333;
}

.form input{
  width: 100%;
  height: 40px;
  color: #333;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 12px;
}

.buttonTextRegister{
  margin: 35px 0 50px 0;
}

.buttonTextRegister p{
  color: #262626;
}

.buttonTextRegister a{
  text-decoration:none;
  font-weight: bold;
  color: #0095f6;
  opacity: 0.9;
}

@media screen and (max-width: 767px){
  .main-content .imagemLogo{
    display: none;
  }
}

@media screen and (max-width: 920px){
  .main-content img{
    max-width: 420px;
  }
}

@media screen and (max-width: 450px){
  .main-signin .main-content .form{
    border: none;
    background-color: transparent;
  }
  .main-signin .main-content{
    margin-top: 40px;
    align-self: start;
  }
}